@{
    ViewBag.Title = "Home Page";
}


@Html.Action("FeaturedPost", "Home")

<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div id="ajax-blog-add" class="col-sm-5 col-lg-8 col-md-12">
                <h2 class="block-title">
                    <span class="title-angle-shap"> Son Eklenenler </span>
                </h2>


                @Html.Action("BlogList", "Home")
            </div><!-- Content Col end -->



            <div class="gap-20"></div>

            @*Siderbar Alanı*@
            @Html.Action("SiderBar", "Home")

        </div><!-- Row end -->
  
    </div><!-- Container end -->
</section><!-- First block end -->
<!-- ad banner start-->


@section blogScript{
    <script type="text/javascript">

        var pageNo = 1;
        var pageLoadStatus = true;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                if (pageLoadStatus)
                {
                    $.ajax({
                        url: '/Home/BlogList',
                        data: { page: pageNo },
                        success: function (data) {

                            $("#ajax-blog-add").append(data);
                            pageNo++;
                            if ($.trim (data=='')) {pageLoadStatus = false;}

                        }
                    });
                }
            
            }
        });
    </script>
}
